html {
	margin:0;
	padding:0;
	font-family: 'PT Mono', monospace;
}

body {
	background:url(pile-of-gold-round-coins-106152.jpg) no-repeat center center fixed;
	background-size: cover;

}

div {
	width: 90%;
	height: 1200px;
	margin: 0 auto;
	padding: 12px;
	border: 1px solid white;
	background: rgba(255,255,255,0.20)
}

h1 {
color: #FFF;
}

h2 {

}

p{
color: #FFF;
}

img{
	width: 100%;
	max-width: 100%;
}

.tagline{

}
.article{
width: 33%;
display: inline-block;
}


section{

}